{% extends "layout.jinja2" %}

{% block content %}

<div class="container">

    <h3 class="titles">Post a video</h3>

    <form  action="/" method="post">
        <div class="form-group">
            <label for="name">Title</label>
            <input type="text" class="form-control" name="title" placeholder="Title">
        </div>
        <div class="form-group">
            <label for="theme">Theme</label>
            <input type="text" class="form-control"name="theme" placeholder="Theme">
        </div>

        <button type="submit" class="btn btn-primary" name="form.post" type="submit" value="Create">Submit</button>
    </form>

    <h3 class="titles">Videos List</h3>

    {% for video in videos %}

    <div class="card" style="width: 40%" align="center">
        <img class="card-img-top">
        <div class="card-body" align-items="center">
            <h4 class="card-title"></h4>
            <p class="card-text">Theme: </p>
            <p class="card-text"><i class="fa fa-thumbs-up" aria-hidden="true">: </p>
            <p class="card-text"><i class="fa fa-thumbs-down" aria-hidden="true">: </p>
            <form method="post">

                <input type="hidden" name="name" value="">
                <input type="hidden" name="action" value="1">
                <button type="button"
                        class="btn btn-success"
                        data-loading-text=" ... ">
                        <i class="fa fa-thumbs-up" aria-hidden="true"></i>
                    4</button>
            </form>

            <form method="post">

                <input type="hidden" name="name" value=>
                <input type="hidden" name="action" value="2">
                <button type="button"
                        id="testBtn"
                        class="btn btn-success"
                        data-loading-text=" ... ">
                        <i class="fa fa-thumbs-down" aria-hidden="true"></i>
                    4</button>
            </form>

        </div>
    </div>
    {% endfor %}
</div>

{% endblock content %}
